{% extends "base2.html" %}
{% block extra_js %}
<script>
  $(document).ready(function(){
    $('#id_tag').change(function(){
      $("#botoncito").attr('disabled',false);
        });
  });
</script>
{% endblock extra_js %}

{% load thumbnail %}

{% block contenido %}
<style>
	.galeria{
		margin-top: 20px;
	}
</style>
    <section id="page-title">



    </section><!-- #page-title end -->
    <div class="border-1"></div>
    <div class="border-2"></div>

    <!-- Content
		============================================= -->
		<section id="content">

			<div class="content-wrap">

				<div class="container clearfix">
				<div class="fancy-title title-border">
	              <h4>Galeria de imagenes</h4>
	            </div>
					{% for obj in objetos.object_list %}
						<div class="col_full clearfix">
							<div class="ipost clearfix">
								<div class="entry-title">
									<h3>{{obj.titulo}}</h3>
								</div>
								<div class="entry-content">
								{{obj.descripcion|safe}}
								</div>
							</div>	
							
							<div class="galeria">
					            <div class="masonry-thumbs col-5" data-big="1" data-lightbox="gallery">
				            	{% for x in obj.fotogalerias_set.all %}
								<a href="/files/{{x.foto}}" data-lightbox="gallery-item">
								<!-- imagen real -->
									{% thumbnail x.foto "400x300" crop="center" as im %}
										<img class="image_fade" src="/files/{{im}}" alt="{{x.titulo}}">
									{%endthumbnail%}
									
									<!-- cropear en 400x300  -->
								</a>
								{% endfor %}
								</div>
							</div>

						</div>

						<div class="divider"><i class="icon-circle"></i></div>

					{% endfor %}

					<div class="clear"></div>
		              	<div class="paginacion">
		                  <ul class="pagination">
		                    {% if objetos.has_previous %}
		                      <li class="arrow unavailable"><a href="?page={{ objetos.previous_page_number }}">&laquo;</a></li>
		                    {% endif %}
		                    {% for numero in objetos.paginator.page_range %}
		                      <li class="{%if numero == 1 %}current{%endif%}"><a href="?page={{numero}}">{{numero}}</a></li>
		                    {% endfor %}
		                    {% if objetos.has_next %}
		                      <li class="arrow"><a href="?page={{ objetos.next_page_number }}">&raquo;</a></li>
		                    {% endif %}
		                  </ul>
		            </div>

				</div>

			</div>

		</section><!-- #content end -->    


    

{% endblock contenido %}