*.pyc
*.swp
settings_local.py
*.sqlite3
nbproject/
media/galeria/
media/noticias/
media/publicaciones/
media/eventos/
media/uploads/
media/cache/
media/fotoPortadas/
*.db
*.pl
*.sql
.ropeproject/
.ninjaproject/*.*
