{% extends "base.html" %}

{%block titulo%}
Organización &raquo; Subindicador Organización Gremial
<div class="cambiar_indicador"><a href="#" id="mas">Cambiar Indicador <span id="estado" class="estadouno"><img src="/archivos/imagen/menos.png"/></span></a></div>
{%endblock%}
{%block extrahead%}
<style type="text/css">
    .gremial{background: url(/archivos/imagen/fondosubmenuhover.png) repeat-x;}
</style>
<link type="text/css" rel="stylesheet"  href="/files/css/demo_table_jui.css" >
<link type="text/css" rel="stylesheet"  href="/files/css/themes/verde-maonic/jquery-ui-1.8.16.custom.css" >
<script type="text/javascript" src="/files/js/jquery.dataTables.js"></script>
<style type="text/css">
.fg-toolbar{display:none !important;}
.dataTables_wrapper{min-height:0px; margin-bottom:35px;}
</style>
<script type="text/javascript">
$(document).ready( function () {
        	  $('.tablagrid').dataTable({
                  "bJQueryUI": true,
                  "oLanguage": {
                        "sProcessing":   "Procesando...",
                        "sLengthMenu":   "Mostrar _MENU_ registros",
                        "sZeroRecords":  "No se encontraron resultados",
                        "sInfo":         "Mostrando desde _START_ hasta _END_ de _TOTAL_ registros",
                        "sInfoEmpty":    "Mostrando desde 0 hasta 0 de 0 registros",
                        "sInfoFiltered": "(filtrado de _MAX_ registros en total)",
                        "sInfoPostFix":  "",
                        "sSearch":       "Buscar:",
                        "sUrl":          "",
                        "oPaginate": {
                            "sFirst":    "Primero",
                            "sPrevious": "Anterior",
                            "sNext":     "Siguiente",
                            "sLast":     "Último"
                        }
                  }
                  
            });
} );
</script>
<script type="text/javascript">
    var activo = 0; 
    function click_callback(id){
        $.getJSON('/monitoreo/grafo/organizacion/' + id, function(data) {
            if (activo!= id){
                $("#grafo").html('<img src="' + data.url + '" />');
                activo = id;
            }else{
                $("#grafo").html('');
                activo = 0;
            }
        });
    }
    $(document).ready(function() {
        $("#grafico1").click(function(){
            $("#grafico1").addClass('enlace_seleccionado');
            $("#grafico2").removeClass('enlace_seleccionado');
        });
    
        $("#grafico2").click(function(){
            $("#grafico2").addClass('enlace_seleccionado');
            $("#grafico1").removeClass('enlace_seleccionado');
        });

    });
</script>
{%endblock%}
{% block top %}
<div class="nombre_modulo">
   Organizacion
</div>
<div class="links">
    <img src="/files/images/atras.png" alt="atras">
    <a href="monitoreo/index/">Volver a indicadores</a> |
</div>

{% endblock %}
{% block contenido %}

<div class="separador"></div>

<div id="mostrar">

</div>
<div class="full">
<div id="recuadro"> 
<div id="sidebar">
    <div class="graficos_widget">
        <div class="grafico-titulo">Gráficos Org. Gremial </div>
        <a id="grafico2" href="#" onCLick="click_callback('beneficio')">Beneficio de ser Socio/a</a>
        <div class="clean"></div>
    </div>
    <div id="grafo"></div>

    <table width=500 class="tablagrid display">
        <caption>Es socio/a de organización Gremial</caption>
        <thead>
            <tr>
                <th>Categoria</th>
                <th>Frecuencia</th>
                <th>porcentaje %</th>
            </tr>
        </thead>
        <tbody>
        
            {% for key, value in tabla_gremial.items %}
            <tr>
                <td>{{key}}</td>
                <td>{{value.frecuencia|floatformat:2}}</td>
                <td>{{value.porcentaje|floatformat:2}}</td>
            </tr>
            {% endfor %}
       <tr>
            <th>TOTAL</th>
            <th>{{divisor|floatformat:2}}</th>
            <th>100</th>
      </tr>
       
       <tbody>
    </table>
    
    
     <table width=500 class="tablagrid display">
        <caption>Desde cuando socios</caption>
        <thead>
            <tr>
                <th>Categoria</th>
                <th>Frecuencia</th>
                <th>porcentaje %</th>
            </tr>
        </thead>
        <tbody>
        
            {% for key, value in tabla_desde.items %}
            <tr>
            <td>{{key}}</td>
                <td>{{value.frecuencia|floatformat:2}}</td>
                <td>{{value.porcentaje|floatformat:2}}</td>
            </tr>
            {% endfor %}
            
       <tr>
            <th>TOTAL</th>
            <th>{{divisor1|floatformat:2}}</th>
            <th>100</th>
      </tr>
       
       </tbody>
    </table>
    
     <table width=500 class="tablagrid display">
        <caption>Soy miembro de órgano gremial</caption>
        <thead>
            <tr>
                <th>Categoria</th>
                <th>Frecuencia</th>
                <th>porcentaje %</th>
            </tr>
        </thead>
        <tbody>
        
            {% for key, value in tabla_miembro.items %}
            <tr>
                <td>{{key}}</td>
                <td>{{value.frecuencia|floatformat:2}}</td>
                <td>{{value.porcentaje|floatformat:2}}</td>
            </tr>
            {% endfor %}
            
       <tr>
            <th>TOTAL</th>
            <th>{{divisor2|floatformat:2}}</th>
            <th>100</th>
      </tr>
       
       </tbody>
    </table>


<table width=500 class="tablagrid display">
        <caption>Desde cuando miembro</caption>
        <thead>
            <tr>
                <th>Categoria</th>
                <th>Frecuencia</th>
                <th>porcentaje %</th>
            </tr>
        </thead>
        <tbody>
        
            {% for key, value in tabla_desde_miembro.items %}
            <tr>
                <td>{{key}}</td>
                <td>{{value.frecuencia|floatformat:2}}</td>
                <td>{{value.porcentaje|floatformat:2}}</td>
            </tr>
            {% endfor %}
            
       <tr>
            <th>TOTAL</th>
            <th>{{divisor3|floatformat:2}}</th>
            <th>100</th>
      </tr>
       
       </tbody>
    </table>
    
    
    <table class="tablagrid display">
        <caption>He recibido capacitación para desempeñar mi cargo</caption>
        <thead>
            <tr>
                <th>Categoria</th>
                <th>Frecuencia</th>
                <th>porcentaje %</th>
            </tr>
        </thead>
        <tbody>
        
            {% for key, value in tabla_capacitacion.items %}
            <tr>
                <td>{{key}}</td>
                <td>{{value.frecuencia|floatformat:2}}</td>
                <td>{{value.porcentaje|floatformat:2}}</td>
            </tr>
            {% endfor %}
            
       <tr>
            <th>TOTAL</th>
            <th>{{divisor4|floatformat:2}}</th>
            <th>100</th>
      </tr>
       
       </tbody>
    </table>
        <br>
    <br>
</div>
</div>
</div>
{% endblock %}
