{% extends "base2.html" %}

{% load thumbnail %}


{% block contenido %}
<style type="text/css">
	.entry-content p{
    font-family: 'Roboto', sans-serif !important;
    font-size: 16px;
	}
</style>

    <section id="page-title">



    </section><!-- #page-title end -->
    <div class="border-1"></div>
    <div class="border-2"></div>
		<!-- Content
		============================================= -->
		<section id="content">

			<div class="content-wrap">


				<div class="container clearfix">
					<!-- Post Content
                    ============================================= -->
                    <div class="postcontent nobottommargin clearfix">

                        <div class="single-post nobottommargin">

                            <!-- Single Post
                            ============================================= -->
                            <div class="entry clearfix">

                                <!-- Entry Title
                                ============================================= -->
                                <div class="entry-title">
                                    <h2>{{detalle.titulo}}</h2>
                                </div><!-- .entry-title end -->

                                <!-- Entry Meta
                                ============================================= -->
                                <ul class="entry-meta clearfix">
                                    <li><i class="icon-calendar3"></i> {{detalle.fecha}}</li>
                                    <li><a href="#"><i class="icon-user"></i> {{detalle.autor}}</a></li>
                                
                                </ul><!-- .entry-meta end -->

                                <!-- Entry Image
                                ============================================= -->
                                
                                <div class="entry-image">
                                {% if detalle.foto %}

	                                {% thumbnail detalle.foto "620x250" crop="20%" as im %}
										<img src="/files/{{im}}">
                                        <div class="credito-foto">
                                            Este es el credito de la foto
                                        </div>
									{% endthumbnail %}
								{% else %}

                                    <img src="/files/new/images/blog/full/1.jpg" alt="Blog Single">
                                 {% endif %}
                                </div><!-- .entry-image end -->


                                <!-- Entry Content
                                ============================================= -->
                                <div class="entry-content notopmargin">

									{{detalle.contenido|safe}}

                                </div>
                            </div><!-- .entry end -->


									<div class="si-share noborder clearfix">
                                        <span>Compartir esta noticia:</span>
                                        <div>
                                            <a href="http://www.facebook.com/sharer.php?u=http://maonic.org{{request.path}}" title="Facebook share" target="_blank" class="social-icon si-borderless si-facebook">
                                                <i class="icon-facebook"></i>
                                                <i class="icon-facebook"></i>
                                            </a>
                                            <a href="http://twitter.com/share?url=http://maonic.org{{request.path}}&amp;text={{object.titulo}}" title="Twitter share" target="_blank" class="social-icon si-borderless si-twitter">
                                                <i class="icon-twitter"></i>
                                                <i class="icon-twitter"></i>
                                            </a>
                                            
                                            <a href="https://plus.google.com/share?url=http://maonic.org{{request.path}}" title="Google Plus Share" target="_blank" class="social-icon si-borderless si-gplus">
                                                <i class="icon-gplus"></i>
                                                <i class="icon-gplus"></i>
                                            </a>
                                           
                                        </div>
                                    </div>
                        </div>

                    </div><!-- .postcontent end -->

                    <!-- Sidebar
                    ============================================= -->
                    <div class="sidebar nobottommargin col_last clearfix">
                        <div class="sidebar-widgets-wrap">

                            <div class="widget widget-twitter-feed clearfix">
                                <div class="fancy-title title-border">
                                  <h4>Noticias</h4>
                                </div>
                                <div id="post-list-footer">
                                {% for obj in ultimas %}
                                    <div class="spost clearfix">
                                        <div class="entry-c">
                                            <div class="entry-title">
                                                <h4><a href="{{obj.get_absolute_url}}">{{obj.titulo}}</a></h4>
                                            </div>
                                            <ul class="entry-meta">
                                                <li>{{obj.fecha}}</li>
                                            </ul>
                                        </div>
                                    </div>
                                {% endfor %}

                                </div>

                            </div>

                            



                            <div class="widget clearfix">
                                <div class="fancy-title title-border">
                                  <h4>Tag Relacionados</h4>
                                </div>
                                <div class="tagcloud">
                                    <a href="#">abonos</a>
                                    <a href="#">agroecología</a>
                                    <a href="#">fincas</a>
                                    <a href="#">historia</a>
                                    <a href="#">orgánicos</a>
                                    <a href="#">producción</a>
                                    <a href="#">soberanía alimentaria</a>
                                </div>

                            </div>

                        </div>

                    </div><!-- .sidebar end -->
	


					<div class="clear"></div>


				</div>


			</div>

		</section><!-- #content end -->
	
{% endblock contenido %}