{% extends "base2.html" %}

{% load thumbnail %}
{% block contenido %}
     <section id="page-title">

            <div class="container clearfix">
                <h1>Noticias</h1>
                <span>Últimas noticias</span>
                <ol class="breadcrumb">
                    <li><a href="/">Inicio</a></li>
                    <li class="active">Noticias</li>
                </ol>
            </div>

        </section><!-- #page-title end -->

    <!-- Content
    ============================================= -->
    <section id="content">

      <div class="content-wrap">


        <div class="container clearfix">

          <div class="col_two_third nobottommargin">

            <div class="fancy-title title-border">
              <h4>Últimas publicaciones</h4>
            </div>

            {% for obj in objetos.object_list %}
                <div class="col-lg-6 nobottommargin lista">
                    <div class="ipost clearfix">
                        <div class="entry-image">
                            {% if obj.foto %}
                            {% thumbnail obj.foto "400x250" crop="center" as im %}
                            <a href="{{obj.get_absolute_url}}">
                                <img class="image_fade" src="/files/{{im}}" alt="Image">
                            </a>
                            {%endthumbnail%}
                            {% else %}
                            <a href="{{obj.get_absolute_url}}">
                                <img class="image_fade" src="/files/new/images/noticia.png" alt="Image">
                            </a>
                            {% endif %}

                        </div>
                        <div class="entry-title">
                            <h3><a href="{{obj.get_absolute_url}}">{{obj.titulo|truncatewords:10}}</a></h3>
                        </div>
                        <ul class="entry-meta clearfix">
                            <li><i class="icon-calendar3"></i> {{obj.fecha}} </li>

                            <li><i class="icon-user"></i> {{obj.autor}} </li>

                        </ul>
                        <div class="entry-content">
                            <p>{{obj.contenido|safe|striptags|truncatewords:20}}</p>

                        </div>
                    </div>
                </div>
                {% empty %}
                <p>No existe noticias</p>
                {% endfor %}

                <div class="clear"></div>

          </div>

          <div class="col_one_third nobottommargin col_last">

            <div class="fancy-title title-border">
              <h4>Publicaciones</h4>
            </div>
            <div id="post-list-footer">

                <div class="spost clearfix">
                    
                    <div class="entry-c">
                        <div class="entry-title">
                            <h4><a href="#">Manual técnico agroecológico</a></h4>
                        </div>
                        <ul class="entry-meta">
                            <li>10 de Julio 2016</li>
                            
                        </ul>
                   
                    </div>
                    <a href="blog-single.html" class="more-link">Descargar</a>
                </div>

                <div class="spost clearfix">
                    <div class="entry-c">
                        <div class="entry-title">
                            <h4><a href="#">Ley 765, reglamento y normativa</a></h4>
                        </div>
                        <ul class="entry-meta">
                            <li>10 de Julio 2016</li>
                            
                        </ul>
                    </div>
                    <a href="blog-single.html" class="more-link">Descargar</a>
                </div>

                <div class="spost clearfix">

                    <div class="entry-c">
                        <div class="entry-title">
                            <h4><a href="#">Historia de Maonic y ley 765</a></h4>
                        </div>
                        <ul class="entry-meta">
                            <li>10 de Julio 2016</li>
                            
                        </ul>
                    </div>
                    <a href="blog-single.html" class="more-link">Descargar</a>
                </div>

            </div>
            
            <div class="space-row"></div>
            <div class="fancy-title title-border">
              <h4>Eventos</h4>
            </div>
            <div id="post-list-footer">

                <div class="spost clearfix">
                    <div class="entry-image">
                        <a href="#" class="nobg"><img src="/files/new/images/events/thumbs/1.jpg" alt=""></a>
                    </div>
                    <div class="entry-c">
                        <div class="entry-title">
                            <h4><a href="#">Seminario de capacitación</a></h4>
                        </div>
                        <ul class="entry-meta">
                            <li>10 de Julio 2016</li>
                        </ul>
                    </div>
                </div>

                <div class="spost clearfix">
                    <div class="entry-image">
                        <a href="#" class="nobg"><img src="/files/new/images/events/thumbs/2.jpg" alt=""></a>
                    </div>
                    <div class="entry-c">
                        <div class="entry-title">
                            <h4><a href="#">Intercambio de experiencias</a></h4>
                        </div>
                        <ul class="entry-meta">
                            <li>10 de Julio 2016</li>
                        </ul>
                    </div>
                </div>

                <div class="spost clearfix">
                    <div class="entry-image">
                        <a href="#" class="nobg"><img src="/files/new/images/events/thumbs/3.jpg" alt=""></a>
                    </div>
                    <div class="entry-c">
                        <div class="entry-title">
                            <h4><a href="#">Taller nacional en la NTON agroecológica</a></h4>
                        </div>
                        <ul class="entry-meta">
                            <li>10 de Julio 2016</li>
                        </ul>
                    </div>
                </div>
                <div class="spost clearfix">
                    <div class="entry-image">
                        <a href="#" class="nobg"><img src="/files/new/images/events/thumbs/3.jpg" alt=""></a>
                    </div>
                    <div class="entry-c">
                        <div class="entry-title">
                            <h4><a href="#">Taller de diagnóstico y planificación de fincas</a></h4>
                        </div>
                        <ul class="entry-meta">
                            <li>10 de Julio 2016</li>
                        </ul>
                    </div>
                </div>

            </div>

          </div>

          <div class="clear"></div>
            <ul class="pagination">
                <li><a href="#">&laquo;</a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">&raquo;</a></li>
            </ul>

        </div>


      </div>

    </section><!-- #content end -->

    

{% endblock contenido %} 
