{% extends "base2.html" %}

{% block contenido %}
  
  
<div class="row">
<div class="large-12 columns">
<div class="large-8 columns">
  <h3 class="o-title ">Titulo de la noticia</h3>
  <div class="content-news">
    <span class="news-date">Fecha de Publicacion</span>
    <img src="http://placehold.it/620x250">
    <div class="news-text">
      Scelerisque dis tincidunt etiam, nec adipiscing integer enim et sed. Etiam nunc porttitor, cursus dapibus, nisi, pid, porttitor rhoncus amet. Magna ac. Turpis ut, natoque nunc! Dis sociis pulvinar. In elementum nisi adipiscing pulvinar duis porta! Magna magna sit pulvinar, in aliquet? Magnis ac proin porta a augue augue eu magna diam enim arcu nascetur, lacus? In, ac integer pellentesque, platea ut amet ac sit, amet, vel sed, sit est lectus arcu. Est eu ac, est, urna dictumst tincidunt scelerisque non nisi habitasse nunc, tortor. Urna tincidunt tristique risus augue, natoque arcu aliquam
    </div>
  </div>
  
  
</div>
<div class="large-4 columns">
  <h3 class="sidebox-title ">Noticias</h3>

<div class="block-news">
  <span class="feeds-title">cualquier noticia</span>
  <div class="resumen-news">Vut adipiscing dictumst turpis nisi risus elementum</div>
  <span class="date-ticker">23/24/2013</span>

</div>


<div class="block-news">
  <span class="feeds-title">cualquier noticia</span>
  <div class="resumen-news">Vut adipiscing dictumst turpis nisi risus elementum</div>
  <span class="date-ticker">23/24/2013</span>

</div>

<div class="block-news">
  <span class="feeds-title">cualquier noticia</span>
  <div class="resumen-news">Vut adipiscing dictumst turpis nisi risus elementum</div>
  <span class="date-ticker">23/24/2013</span>

</div>

</div>
</div>

</div>
  
{% endblock contenido %}