{% extends "base2.html" %}

{% load thumbnail %}
{% block contenido %}
    <!-- Content -->
  
<div class="row">
<div class="large-12 columns">
<div class="large-8 columns">
  <h3 class="o-title ">Videos</h3>

  {% for obj in objetos.object_list %}
     <div class="listnews-content">
     <h3 class="titulo-list-news"><a href="#">{{obj.nombre}}</a></h3>
     <div class="res-news">{{obj.url}}</div>
     </div>
  </div>
  {% empty %}
    <p>No existe videos</p>
  {% endfor %}
  
<div class="pagination-centered paginacion">
  <ul class="pagination">
    {% if objetos.has_previous %}
      <li class="arrow unavailable"><a href="?page={{ objetos.previous_page_number }}">&laquo;</a></li>
    {% endif %}
    {% for numero in objetos.paginator.page_range %}
      <li class="{%if numero == 1 %}current{%endif%}"><a href="?page={{numero}}">{{numero}}</a></li>
    {% endfor %}
    {% if objetos.has_next %}
      <li class="arrow"><a href="?page={{ objetos.next_page_number }}">&raquo;</a></li>
    {% endif %}
  </ul>
</div> <br> <br>
</div>

  <div class="large-4 columns">
    <h3 class="o-title">Publicaciones</h3>
    {% for obj in publicaciones %}
      <div class="block-news">
      <span class="feeds-title">{{obj.titulo}}</span>
      <div class="resumen-news">{{obj.fecha|date:"M/j/Y"}}</div>
      {% if obj.archivo %}
        <span class="date-ticker"><a href="/files/{{obj.archivo}}">descargar</a></span>
      {% endif %}
    </div>
    {% empty %}
      <p>No hay publicaciones</p>
    {% endfor %}

  </div>

  <div class="large-4 columns">
    <h3 class="o-title">Eventos</h3>
    {% for obj in eventos %}
       <div class="block-news">
      <span class="feeds-title">{{obj.titulo}}</span>
      <div class="resumen-news">{{obj.descripcion|safe|striptags|truncatewords:10}}</div>
      <span class="date-ticker">{{obj.fecha_inicio|date:"M/j/Y"}}</span>
    </div>
    {% empty %}
      <p>No existen eventos</p>
    {% endfor %}
   
  </div>

</div>

</div>
{% endblock contenido %} 