{% extends "base2.html" %}
{% load magicembed_tags %}
{% block contenido %}
<div class="row">
<div class="large-12 columns">
<div class="large-8 columns">
  <h3 class="o-title ">Videos</h3>

  {% for obj in objetos.object_list  %}
    <div class="event-box">
    <div class="event-content">
      <h3 class="titulo-evento">{{obj.nombre}}</h3>
    </div>
    <div class="event-content">
      
        {{ obj.url|magicembed:"600x380" }}  
        
    </div>
  </div>
  {% empty %}
    <p>No existen videos</p>
  {% endfor %}
  

  <div class="pagination-centered paginacion">
  <ul class="pagination">
    {% if objetos.has_previous %}
      <li class="arrow unavailable"><a href="?page={{ objetos.previous_page_number }}">&laquo;</a></li>
    {% endif %}
    {% for numero in objetos.paginator.page_range %}
      <li class="{%if numero == 1 %}current{%endif%}"><a href="?page={{numero}}">{{numero}}</a></li>
    {% endfor %}
    {% if objetos.has_next %}
      <li class="arrow"><a href="?page={{ objetos.next_page_number }}">&raquo;</a></li>
    {% endif %}
  </ul>
</div>
</div>
<div class="large-4 columns">
  <h3 class="sidebox-title ">Noticias</h3>
  {% for obj in ultimas_noticias %}
    <div class="block-news">
  <span class="feeds-title"><a href="{{obj.get_absolute_url}}">{{obj.titulo}}</a></span>
  <div class="resumen-news">{{obj.contenido|safe|striptags|truncatewords:12}}</div>
  <span class="date-ticker">{{obj.fecha|date:"M/j/Y"}}</span>
</div>
  {% empty %}
    <p>No exiten noticias</p>
  {% endfor %}

</div>
</div>

</div>

{% endblock contenido %} 