{% extends "base2.html" %}
{% load thumbnail %}
{% block contenido %}
  
<div class="row">
<div class="large-12 columns">
<div class="large-8 columns">
  <h3 class="o-title ">Publicaciones</h3>
  {% for obj in objetos.object_list %}
    <div class="pubpage-box">
    {% thumbnail obj.foto "180x170" crop="10%" as im %}
      <img src="/files/{{im}}">
    {% endthumbnail %}
    <div class="info-pub">
      <span class="titulo-pub">{{obj.titulo}}</span>
      <span class="fecha-pub">{{obj.fecha|date:"M/y"}}</span>
      <span class="descarga-pub"><a href="/files/{{obj.archivo}}">descargar</a></span>
    </div>
  </div>
  {% empty %}
    <p>No hay publicaciones</p>
  {% endfor %}
  
  <div class="pagination-centered paginacion">
  <ul class="pagination">
    {% if objetos.has_previous %}
      <li class="arrow unavailable"><a href="?page={{ objetos.previous_page_number }}">&laquo;</a></li>
    {% endif %}
    {% for numero in objetos.paginator.page_range %}
      <li class="current"><a href="?page={{numero}}">{{numero}}</a></li>
    {% endfor %}
    {% if objetos.has_next %}
      <li class="arrow"><a href="?page={{ objetos.next_page_number }}">&raquo;</a></li>
    {% endif %}
  </ul>
</div>
</div>
<div class="large-4 columns">
  <h3 class="o-title ">Buscar publicaciones</h3>
  <div class="sidebar-drop">

  <form action="/publicaciones/filtrar/" method="POST">{%csrf_token%}
    {{form.as_p}}
    <input type="submit" name="boton">
  </form>

  </div>
  {% for obj in ultimas_publicaciones %}
    <div class="sidebar-pub">
    {% thumbnail obj.foto "100x115" crop="10%" as im %}
    <div class="img-sidebar"><img src="/files/{{im}}"></div>
    {% endthumbnail %}
    <span class="side-title">{{obj.titulo|truncatewords:1}}</span>
    <span class="side-fecha"> {{obj.fecha|date:"M/j/y"}}</span>
    <span class="down-text"><a href="/files/{{obj.archivo}}">descargar</a></span>
    <div class="icon-descargar"></div>
  </div>
  {% empty %}
    <p>No hay ultimas publicaciones</p>
  {% endfor %}
</div>
</div>

</div>
	<!-- Content -->

<br> <br>

{% endblock contenido %}