{% extends "base.html" %}
{%load unslugify %}
{% block titulo %}
Subindicador animales
<div class="cambiar_indicador"><a href="#" id="mas">Cambiar Indicador <span id="estado" class="estadouno"><img src="/archivos/imagen/menos.png"/></span></a></div>
{% endblock%}

{% block contenido %}

<div id="mostrar">
     {% include "monitoreo/menu.html" %}
</div>

<div class="contenido">
    <table>
        <caption>Los Animales</caption>
        <thead>
            <tr>
                <th>Animales</th>
                <th>Cantidad</th>
                <th>%</th>
            </tr>
        </thead>
        <tbody>
            {%for fila in tabla_animales%}
            <tr>
                {%for celda in fila%}
                <td>{{celda}}</td>
                {%endfor%}
            </tr>
            {%endfor%}
        </tbody>
    </table>

    <table>
        <caption>Los Animales y la Producción </caption>
        <thead>
            <tr>
                <th>Producto</th>
                <th>Unidad</th>
                <th>Cantidad Producida</th>
                <th>Consumo</th>
                <th>Venta Libre</th>
                <th>Venta organizada</th>
            </tr>
        </thead>
        <tbody>
            {%for fila in tabla_produccion%}
            <tr>
                {%for celda in fila%}
                <td>{{celda}}</td>
                {%endfor%}
            </tr>
            {%endfor%}
        </tbody>
    </table>
</div>

{% endblock %}
