{% extends "base.html" %}
{%load unslugify %}
{% block extrahead %}
{% include "monitoreo/grid-js.html" %}
{%endblock%}
{% block titulo %}
Subindicador animales
<div class="cambiar_indicador"><a href="#" id="mas">Cambiar Indicador <span id="estado" class="estadouno"><img src="/archivos/imagen/menos.png"/></span></a></div>
{% endblock%}
{% block top %}
<div class="nombre_modulo">
   Animales
</div>
<div class="links">
    <img src="/files/images/atras.png" alt="atras">
    <a href="/monitoreo/index/">Volver a indicadores</a> |
</div>

{% endblock %}
{% block contenido %}
<div class="full">
<div id="recuadro">

    <table class="tablagrid display">
        <caption>Los Animales</caption>
        <thead>
            <tr>
                <th>Animales</th>
                <th>Cantidad</th>
                <th>%</th>
            </tr>
        </thead>
        <tbody>
            {%for fila in tabla_animales%}
            <tr>
                {%for celda in fila%}
                <td>{{celda}}</td>
                {%endfor%}
            </tr>
            {%endfor%}
        </tbody>
    </table>

    <table class="tablagrid display">
        <caption>Los Animales y la Producción </caption>
        <thead>
            <tr>
                <th>Producto</th>
                <th>Unidad</th>
                <th>Cantidad Producida</th>
                <th>Consumo</th>
                <th>Venta Libre</th>
                <th>Venta organizada</th>
            </tr>
        </thead>
        <tbody>
            {%for fila in tabla_produccion%}
            <tr>
                {%for celda in fila%}
                <td>{{celda}}</td>
                {%endfor%}
            </tr>
            {%endfor%}
        </tbody>
    </table>
</div>
</div>
{% endblock %}
