{% extends "base.html" %}
{% block extratitle %}
| Mapeo | Lista
{% endblock %}
{% block extrahead %}
<script type="text/javascript" src="{{MEDIA_URL}}js/jquery-1.6.1.js"></script>
        <link type="text/css" rel="stylesheet"  href="/files/css/demo_table_jui.css" >
        <link type="text/css" rel="stylesheet"  href="/files/css/themes/smoothness/jquery-ui-1.8.4.custom.css" >
        <script type="text/javascript" src="/files/js/jquery.dataTables.js"></script>
<script type="text/javascript">
    function cargar_elemento(modelo, page){
      $.getJSON('/mapeo/territorio/lista/' + modelo + '/?page=' + page, function(data){
    	  $('#resultado').html('');
          if (data.enlaces.length == 0){
             $('#resultado').html('No hay datos');             
          }else{
        	  var tabla ='<thead><tr><th class="sorting">nombre</th><th class="sorting">municipio</th><th class="sorting">Telefono</th><th class="sorting">Email</th></tr></thead><tbody>';
        	  $.each(data.enlaces, function(i, elemento){
        		  tabla = tabla +'<tr><td><a href="/mapeo/ficha/' + elemento.modelo + '/' + elemento.id + '/">' + elemento.nombre + '</a></td><td>' + elemento.municipio__nombre + '</td><td>' + elemento.telefono + '</td><td>' + elemento.email + '</td></tr>';
        		  });
        	  tabla=tabla+"</tbody>";
        	  var grid=$('<table></table>')
        	  .addClass('display')
        	  .attr('id','example')
        	  .html(tabla)
        	  .appendTo($('#resultado'));
        	  
        	  $(grid).dataTable({
                  "bJQueryUI": true,
                  "sPaginationType": "full_numbers",
                  "oTableTools": {
                        "sSwfPath": "/files/swf/copy_cvs_xls_pdf.swf"
                  },
                  "oLanguage": {
                        "sProcessing":   "Procesando...",
                        "sLengthMenu":   "Mostrar _MENU_ registros",
                        "sZeroRecords":  "No se encontraron resultados",
                        "sInfo":         "Mostrando desde _START_ hasta _END_ de _TOTAL_ registros",
                        "sInfoEmpty":    "Mostrando desde 0 hasta 0 de 0 registros",
                        "sInfoFiltered": "(filtrado de _MAX_ registros en total)",
                        "sInfoPostFix":  "",
                        "sSearch":       "Buscar:",
                        "sUrl":          "",
                        "oPaginate": {
                            "sFirst":    "Primero",
                            "sPrevious": "Anterior",
                            "sNext":     "Siguiente",
                            "sLast":     "Último"
                        }
                  }
                  
            });
         }            
    	});
    }
    $(document).ready(function(){
       var lista_modelos = [{%for modelo in lista_modelos%}'{{modelo}}',{%endfor%}];
       $('.elemento_lista .change').click(function(){
          var id = $(this).parent().attr('id');
          cargar_elemento(id, 1);
       });
    });
</script>
{% endblock %}
{% block top %}
<div class="nombre_modulo">
    M&oacute;dulo de Mapeo
</div>
{% include "links.html" %}
{% endblock %}
{% block contenido %}
<div class="full">
    <div id="recuadro">
        <div id="filtrarlistado">
            <div class="elemento_lista"id ="familia" >
                <div class="change"><div id="familia-number" class="redondo">{{familia}}</div> Familias Productoras </div>
            </div>
            <div class="elemento_lista"id ="cooperativa" >
                <div class="change"><div id="cooperativa-number" class="redondo">{{cooperativa}}</div> Cooperativas </div>
            </div>
            <div class="elemento_lista"id ="centrales" >
                <div class="change"><div id="centrales-number" class="redondo">{{centrales}}</div> Centrales de Cooperativas </div>
            </div>
            <div class="elemento_lista"id ="asistencia" >
                <div class="change"><div id="asistencia-number" class="redondo">{{asistencia}}</div> Agentes de Asistencia T&eacute;cnica </div>
            </div>
            <div class="elemento_lista"id ="insumo" >
                <div class="change"><div id="insumo-number" class="redondo">{{insumo}}</div> Empresas de Insumos</div>
            </div>
            <div class="elemento_lista"id ="producto" >
                <div class="change"><div id="producto-number" class="redondo">{{producto}}</div> Empresas de Productos</div>
            </div>
            <div class="elemento_lista"id ="certificadora" >
                <div class="change"><div id="certificadora-number" class="redondo">{{certificadora}}</div>Empresas Certificadoras</div>
            </div>
            <div class="elemento_lista"id ="financiera" >
                <div class="change"><div id="financiera-number" class="redondo">{{financiera}}</div>Empresas Financieras</div>
            </div>
            <div class="elemento_lista"id ="orgpublica" >
                <div class="change"><div id="orgpublica-number" class="redondo">{{orgpublica}}</div>Organizaci&oacute;n P&uacute;blica</div>
            </div>
        </div>

<div id="resultado" >

</div>
   <div class="clean"></div>
</div>

</div>
{% endblock %}
