{% extends "base.html" %}
{% block extratitle %}
| Mapeo | Resultados
{% endblock %}
{% block extrahead %}
{% endblock %}
{% block top %}
<div class="nombre_modulo">
    M&oacute;dulo de Mapeo
</div>
{% endblock %}
{% block contenido %}

<div class="full">
    <div id="recuadro">
<a href="/mapeo/territorio"><img src="/files/images/mapeoterritorio.jpg" ></a><br><br>
<a href="/mapeo/formulario"><img src="/files/images/mapeoproductor.jpg" ></a><br><br>
<a href="/mapeo/formulario/asociaciones/"><img src="/files/images/mapeoasociacion.jpg"></a><br><br>

<br><br><br>
</div>
</div>

{% endblock %}
