{% extends "base2.html" %}

{% load thumbnail %}
{% block contenido %}
    <section id="page-title">



    </section><!-- #page-title end -->
    <div class="border-1"></div>
    <div class="border-2"></div>

    <!-- Content
    ============================================= -->
    <section id="content">

      <div class="content-wrap">


        <div class="container clearfix">

          <div class="col_two_third nobottommargin  lista-noticias">

            <div class="fancy-title title-border">
              <h4>Eventos</h4>
            </div>
            <div class="row">
            {% for obj in objetos.object_list %}

                <div class="spost evento block-event">
                    <div class="clearfix">
                        <div class="encabezado-event">
                            <div class="entry-image">
                                <span class="fa fa-calendar"></span>
                            </div>
                            <div class="entry-c">
                                <div class="entry-title main-event">
                                    <h4>{{obj.titulo}}</h4>
                                </div>
                                <ul class="entry-meta">
                                    <li>Fecha de inicio: {{obj.fecha_inicio|date:"d F Y"}}</li>
                                    <li>Fecha de Terminación: {{obj.fecha_final|date:"d F Y"}}</li>
                                </ul>
                            </div>
                        </div>
                        <div class="event-descrip">
                            {{obj.descripcion|safe|striptags|linebreaks}}
                        </div>
                        <div class="ubicacion pull-right">
                            Ubicacion: {{obj.ubicacion}}
                        </div>
                    </div>
                </div>
                {% empty %}
                <p>No existe noticias</p>
            {% endfor %}
            </div>
                <div class="clear"></div>


          </div>

          <div class="hidden-xs col_one_third nobottommargin col_last">
            <div class="row">
                <div class="fancy-title title-border">
                  <h4>Últimas Noticias</h4>
                </div>
                <div class="list-publi" id="post-list-footer">

                   {% for obj in ultimas_noticias %}



                        <div class="spost clearfix">
                            <div class="entry-c">
                                <div class="entry-title">
                                    <h4><a href="{{obj.get_absolute_url}}">{{obj.titulo}}</a></h4>
                                </div>
                                <ul class="entry-meta">
                                    <li>{{obj.fecha}}</li>
                                    
                                </ul>
                            </div>
                            <a href="{{obj.get_absolute_url}}" class="more-link">Leer Nota...</a>
                        </div>
                    {% empty %}
                        <p>No existe Noticias!</p>
                    {% endfor %}

                </div>
            </div>
            <div class="space-row"></div>
            <div class="row">
                <div class="fancy-title title-border">
                  <h4>Publicaciones</h4>
                </div>
                <div class="list-publi" id="post-list-footer">

                    {% for obj in publicaciones %}
                        <div class="spost clearfix">
                            <div class="entry-c">
                                <div class="entry-title">
                                    <h4><a href="/files/{{obj.archivo}}">{{obj.titulo|truncatewords:4}}</a></h4>
                                </div>
                                <ul class="entry-meta">
                                    <li>{{obj.fecha|date:"d F Y"}}</li>
                                    
                                </ul>
                            </div>
                            <a href="/files/{{obj.archivo}}" class="more-link">Descargar</a>
                        </div>
                    {% empty %}
                        <p>No existe publicación!</p>
                    {% endfor %}

                </div>
            </div>


          </div>

          <div class="clear"></div>
                <div class="pagination-centered paginacion">
  <ul class="pagination">
    {% if objetos.has_previous %}
      <li class="arrow unavailable"><a href="?page={{ objetos.previous_page_number }}">&laquo;</a></li>
    {% endif %}
    {% for numero in objetos.paginator.page_range %}
      <li class="{%if numero == 1 %}current{%endif%}"><a href="?page={{numero}}">{{numero}}</a></li>
    {% endfor %}
    {% if objetos.has_next %}
      <li class="arrow"><a href="?page={{ objetos.next_page_number }}">&raquo;</a></li>
    {% endif %}
  </ul>
</div>
        </div>


      </div>

    </section><!-- #content end -->

    

{% endblock contenido %} 










