<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <!--<![endif]-->
<html class="no-js" lang="en" > 
<head>
    <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>Maonic</title>

  <link rel="stylesheet" href="/files/css/normalize.css" />
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lato:700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/files/css/foundation.css" />
  <link rel="stylesheet" href="/files/css/global.css" />
  <script src="/files/js/vendor/custom.modernizr.js"></script>
  <style type="text/css">
  @media only screen and (max-width: 580px), only screen and (max-device-width: 580px) {

 .logo-main{ background: url( /files/images/logo-small.png)repeat none; 
             height: 52px; width: 52px;
              margin-top: -65px; margin-left: 20px; position: absolute; z-index: 8;}
 .bg-logo {display: none; visibility: hidden;}
  }
  </style>

</head>
{% load thumbnail %}
{% load cropping %}
<body>
   <!-- Header principal -->
<div class="top_header">
<div class="row">
    <div class="large-12 columns top-content">
      
      <ul class="login-top">
        <div class="sign">
            {% if user.is_authenticated %}
            <span>Bienvenido</span> {{ user.username }}&nbsp;<img class="separator" src="/files/images/separador.png" alt="separador">
            <a href="/admin" title="Salir de Administración" >Administración</a>&nbsp;<img class="separator" src="/files/images/separador.png" alt="separador">
            <a href="/files/docs/ManualUsuario_MAONIC.pdf" title="" >Manual de usuario</a>&nbsp;<img class="separator" src="/files/images/separador.png" alt="separador">
            <a href="/files/docs/ManualAdministrador_MAONIC.pdf" title="" >Manual de administración</a>&nbsp;<img class="separator" src="/files/images/separador.png" alt="separador"><a href="/logout" title="Salir" >Salir</a>
            {% else %}
            <li><a href="/accounts/login/">Iniciar Sesi&oacute;n</a></li>|
            <img class="separator" src="/files/images/separador.png" alt="separador">
            <li><a href="/files/docs/ManualUsuario_MAONIC.pdf" title="" >Manual de usuario</a></li>&nbsp;<img class="separator" src="/files/images/separador.png" alt="separador">
            {% endif %}
        </div>
      </ul>
    </div>
    </div>
</div>

  
<!-- menu principal -->
<div class="menu_principal">

  <div class="row">
  <div class="large-12 columns">
    <nav class="top-bar">

    <ul class="title-area">
    <li class="name">
    </li>
    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
    </ul>

  <section class="top-bar-section">
    <!-- Left Nav Section -->
    <div class="home-button"></div>
    <ul class="nav_menu">
      
      <li class=""><a href="/maonic">Acerca de Maonic</a></li>
      <li><a href="/noticias/lista/">Noticias</a></li>
      <li><a href="/publicaciones/lista/">Publicaciones</a></li>
      <li><a href="/videos/lista/">Videos</a></li>
      <li><a href="/eventos/lista/">Eventos</a></li>
      <li class="has-dropdown"><a href="#">Sistema de Mapeo y Monitoreo</a>

        <ul class="dropdown">
          <li><label><a href="/mapeo/seleccion/">Mapeo nacional</a></label></li>
          <li><label><a href="/monitoreo/index/">Monitoreo</a></label></li>
          <li><label><a href="http://www.ruta.org/rediao">Red de aprendizaje</a></label></li>
      
        </ul>
     
    </ul>
  </section>
    </nav>
    </div>
    
  </div>
  

</div><!-- menu principal -->


<div class="slider-wrapper">
    <div class="row">
      <div class="large-3 columns">
      <div class="logo-main">
        <a href="/">
        <img src="/files/images/logo.png">
       </a>
      </div>
 <div class="bg-logo"></div>
    </div>
    </div>
    
    <div id="slider" class="nivoSlider">
    {% for obj in fotos_portada %}
        {# <img src="/files/{{ obj.foto }}" width="1500px" heigth="300px" alt=""> #}
        <img src="{% cropped_thumbnail obj "cropping" scale=5%}">
    {% empty %}
      <p>no hay fotos que mostrar</p>
    {% endfor %}
    </div>       
  </div>

  {% block contenido %}

  {% endblock contenido%}

  {% include "footer.html" %}

<script type="text/javascript" src="/files/js/jquery-1.9.0.min.js"></script>
<script>
  $(document).ready(function(){
var str=location.href.toLowerCase();
$(".nav_menu li a").each(function() {
if (str.indexOf(this.href.toLowerCase()) > -1) {
 $("li.active").removeClass("active");
$(this).parent().addClass("active");
}
 });
 })


</script>

<script>
  $(document).ready(function(){
var str=location.href.toLowerCase();
$(".pagination li a").each(function() {
if (str.indexOf(this.href.toLowerCase()) > -1) {
 $("li.current").removeClass("current");
$(this).parent().addClass("current");
}
 });
 })


</script>
{% block extra_js %}
  
{% endblock extra_js %}
 <script type="text/javascript" src="/files/js/jquery.nivo.slider.js"></script>
  <script type="text/javascript">
    $(window).load(function() {
        $('#slider').nivoSlider({
          effect:'fold,fade,slideDown,slideUp,boxRain',
          slides:4,
          StarSlide:0,
        });
    });
    </script>

<script>
  document.write('<script src=' +
  ('__proto__' in {} ? '/files/js/vendor/zepto' : 'js/vendor/jquery') +
  '.js><\/script>')
  </script>
  
  <script src="/files/js/foundation.min.js"></script>
  
  <script>
    $(document).foundation();
  </script>

</body>

</html>