 <div class="footer-content">
   <div class="row">
     <div class="large-12 columns">
       <ul id="footer-menu">
         <li><a href="#">Acerca de Maonic</a></li>
         <li><a href="#">Noticia</a></li>
         <li><a href="#">Publicaciones</a></li>
         <li><a href="#">Eventos</a></li>
         <li><a href="#">Contactenos</a></li>
       </ul>
       <div class="text-footer">
        Movimiento de Productoras y Productores Agroecológico y Orgánicos de Nicaragua.<br><br>
        Sistema desarrollado por <a class="feeds-title"href="http://simas.org.ni">SIMAS</a> bajo plataforma Django</div>
     </div>
   </div>
  </div>
