<div class="header">
    <div class="wrapper">
<!--

        <div class="logo"><a href="/"><img src="/files/images/logo.png" alt="Maonic Logo"></a></div>

-->
        <div class="name"><a href="/"><img style="float:left; margin-right:8px;padding-top:3px;"src="/files/images/home.png">SISTEMA DE MAPEO y MONITOREO <span>MAONIC</span></a></div>
        <div class="sign">
            {% if user.is_authenticated %}
            <span>Bienvenido</span> {{ user.username }}&nbsp;<img class="separator" src="/files/images/separador.png" alt="separador">
            <a href="/admin" title="Salir de Administración" >Administración</a>&nbsp;<img class="separator" src="/files/images/separador.png" alt="separador">
            <a href="/files/docs/ManualUsuario_MAONIC.pdf" title="" >Manual de usuario</a>&nbsp;<img class="separator" src="/files/images/separador.png" alt="separador">
            <a href="/files/docs/ManualAdministrador_MAONIC.pdf" title="" >Manual de administración</a>&nbsp;<img class="separator" src="/files/images/separador.png" alt="separador"><a href="/logout" title="Salir" >Salir</a>
            {% else %}
            <a href="/accounts/login/">Iniciar Sesi&oacute;n</a>
            <img class="separator" src="/files/images/separador.png" alt="separador">
            <a href="/files/docs/ManualUsuario_MAONIC.pdf" title="" >Manual de usuario</a>&nbsp;<img class="separator" src="/files/images/separador.png" alt="separador">
            {% endif %}
        </div>
        <div class="clean"></div>
    </div>
</div>
