<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <title>Sistema Regional MAONIC | Home </title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link type="image/x-icon" rel="shortcut icon" href="/files/images/favicon.png" >
        <link type="text/css" rel="stylesheet"  href="/files/css/maonic.css" >
    </head>
    <body>
        {% include "header.html" %}
        <div class="content">
            <div class="wrapper">
                <div class="center_top">
                    <div class="description">
                        <div class="logo"><a href="/"><img src="/files/images/logo.png" alt="Maonic Logo"></a></div>
                        <div class="title">MAONIC</div>
                        <div>
                            Es el Movimiento de Productoras y Productores Agroecológicos y Orgánicos de Nicaragua, impulsado por  cooperativas de base, territoriales, regionales, nacionales y por asociaciones gremiales
                        </div>
                    </div>
                    <div class="saber_mas">
                        <a href="/maonic"></a>
                    </div>
                    <div class="clean"></div>
                </div>
                <div class="center_center">
                    <div class="left">
                        <div class="slogan">
                            "Contribuimos a mejorar<br>
                            la calidad de vida de<br>
                            las familias agricultoras"<br>
                        </div>
                        <br>
                        <div>
                            <div class="cantidades">
                                <p class="cant">{{familias}}</p>
                                <p class="cant">{{cooperativas}}</p>
                                <p class="cant">{{centrales}}</p>
                                {% if asistencia%}
                                <p class="cant">{{asistencia}}</p>
                                {% endif %}
                                {% if e_insumos %}
                                <p class="cant">{{e_insumos}}</p>
                                {% endif %}
                                {% if e_productos %}
                                <p class="cant">{{e_productos}}</p>
                                {% endif %}
                                {% if certificadoras %}
                                <p class="cant">{{certificadoras}}</p>
                                {% endif %}
                                {% if e_financiera %}
                                <p class="cant">{{e_financiera}}</p>
                                {% endif %}
                                {% if org_publicas %}
                                <p class="cant">{{org_publicas}}</p>
                                {% endif %}
                            </div>
                            <div class="descripciones">
                                <p>&nbsp;Familias productoras</p>
                                <p>&nbsp;Cooperativas</p>
                                <p>&nbsp;Centrales de Cooperativas</p>
                                {% if asistencia %}
                                <p>&nbsp;Agentes Asistencia T&eacute;cnica</p>
                                {% endif %}
                                {% if e_insumos %}
                                <p>&nbsp;Empresas de Insumos</p>
                                {% endif %}
                                {% if e_productos %}
                                <p>&nbsp;Empresas de Productos</p>
                                {% endif %}
                                {% if certificadoras %}
                                <p>&nbsp;Empresas Certificadoras</p>
                                {% endif %}
                                {% if e_finaciera %}
                                <p>&nbsp;Empresas Financieras</p>
                                {% endif %}
                                {% if org_publicas %}
                                <p>&nbsp;Organizaciones P&uacute;blicas</p>
                                {% endif %}
                            </div>
                            <div class="clean"></div>

                        </div>
                    </div>
                    <div class="right">
                        <div class="mapeo">
                            <div class="title">
                                M&oacute;dulo de Mapeo<br>
                                Nacional
                            </div>
                            <div class="desc">
                                Encuentra todos los actores relacionados a la
                                producción de productos orgánicos en nuestro país
                            </div>
                            <a href="/mapeo/seleccion/" class="ira"></a>
                        </div>
                        <div class="monitoreo">
                            <div class="title">
                                M&oacute;dulo<br>
                                Monitoreo
                            </div>
                            <div class="desc">
                                Encuentra todos los indicadores de producción,
                                comercialización e inversión de productores
                            </div>
                            <a href="/monitoreo/index" class="ira"></a>
                        </div>
                        <div class="monitoreo">
                            <div class="title">
                                Red
                                de Aprendizaje
                            </div>
                            <div class="desc">
                                Espacio para la interacción e intercambio de experiencias y conocimientos en el sector de la agricultura orgánica y agroecológica
                            </div><br>
                            <a href="http://www.ruta.org/rediao/" class="ira"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include "footer.html" %}
    </body>
</html>

