{% extends "base2.html" %}

{% load thumbnail %}
{% block contenido %}
   <!-- Content -->
    <div class="row">

        <div class="large-12 columns">
            <h3 class="c-title small-2">Noticias</h3>
        </div>
    </div>

    <div class="row">
        <div class="large-12 columns">
            <div class="row">
          {% for obj in noticias %}
            <div class="large-3 columns">
                <div class="box-news">
                <img src="/files/{{obj.foto}}">
                <h2 class=title-news>{{obj.titulo}}</h2>
        <div class="news-text">{{obj.contenido|safe|striptags|truncatewords:20}}</div>
        <span class="read-text"><a href="{{obj.get_absolute_url}}">Leer mas</a></span><div class="icon-plus"></div>
                </div>
            </div>
          {% empty %}
            <p>No existe noticias</p>
          {% endfor %}

            </div>
        

        </div>
            
    </div> <!-- Noticias -->

<!-- Modulos de Mapeo -->
  <div class="row">

    <div class="large-12 columns">
      <h3 class="c-title small-3">Sistema de Mapeo y Monitoreo</h3>
    </div>
  </div>

<div class="row">
  <div class="large-12 columns line">

   <div class="row">

      <div class="large-4 columns">
        <div class="box-module-1">
          <div class="icon-map"></div>
          <span class="h-title"> <a href="/mapeo/seleccion/">Modulo de Mapeo Nacional</a>  </span>
          <div class="text-modulos">Encuentra todos los actores relacionados a la producción de productos orgánicos en nuestro país</div>
          <a href="/mapeo/seleccion/"><div class="boton-ir"></div></a>
        </div>

      </div>

      <div class="large-4 columns">
        <div class="box-module-2">
          <div class="chart-icon"></div>
          <span class="h-title"> <a href="/monitoreo/index/">Modulo de Monitoreo</a>  </span>
          <div class="text-modulos">Encuentra todos los indicadores de producción, comercialización e inversión de productores</div>
          <a href="/monitoreo/index/"><div class="boton-ir"></div> </a>
        </div>
      </div>

      <div class="large-4 columns">
        <div class="box-module-3">
          <div class="icon-map"></div>
          <span class="h-title"> <a href="http://www.ruta.org/rediao/">Red de aprendizaje</a> </span>
          <div class="text-modulos">Espacio para la interacción e intercambio de experiencias y conocimientos en el sector de la agricultura orgánica y agroecológica</div>
          <a href="http://www.ruta.org/rediao/"><div class="boton-ir"></div></a>
        </div>
      </div>
 
    </div>
    

  </div>
      
</div> 
<!-- Modulos de Mapeo -->

<!-- Publicaciones y eventos -->
<div class="pubmain">
  <div class="row">

    <div class="large-8 columns">
      <h3 class="c-title small-3">Publicaciones</h3>
       <div class="box-pub">
        {% for obj in publicaciones %}
          <div class="box-pub-content">
          {% thumbnail obj.foto "100x70" crop="center" as im %}
           <div class="pub-photo"><img src="/files/{{im}}"></div>
          {% endthumbnail %}
           <span class="text-pub">{{obj.titulo|truncatewords:1}}</span>
           <span class="date-pub">{{obj.fecha|date:"F t Y"}}</span>
           <a href="{{obj.get_absolute_url}}" class="tiny button boton-pub">Ver [+]</a>
         </div>
        {% empty %}
          <p>No existe publicación!</p>
        {% endfor %}
       </div>
    </div>
  
 
  
    <div class="large-4 columns">
      <h3 class="c-title small-3">Eventos</h3>
       <div class="box-event"></div>
    </div>

  </div>
</div>
{% endblock contenido %} 