{% extends "base.html" %}
{% block extratitle %}
MAONIC
{% endblock %}
{% block extrahead %}

{% endblock %}
{% block top %}
<div class="nombre_modulo">
    MAONIC
</div>
{% endblock %}
{% block contenido %}
<center>
<div class="full">
    <div id="recuadro">
        <img id="fotomaonic" src="/files/images/fotomaonic.jpg" align="right">
<p></p><b>El Movimiento de Productoras y Productores Agroecológico y Orgánico (MAONIC)</b>, es un espacio que busca contribuir a mejorar la calidad de vida de las familias agricultoras y de consumidores en general a través del posicionamiento de la producción agroecológica y orgánica en la agenda nacional.</p>
 
 
 
<p>El MAONIC es un plataforma nacional que nace a partir del año 2008. Esta integrada por familias campesinas, productores, productoras, organizaciones de base como cooperativas y gremios agrupados bajo la bandera de la producción agroecológica y orgánica.</p>
 
<p>A lo largo de todo el año 2009 producto de la alianza entre la Federación Nacional de Cooperativas (FENACOOP), la Alianza Carazo, el Programa Campesino a Campesino (PCAC)y UNAG-CafeCru y con el apoyo de las organizaciones cooperantes como VECOMA y RUTA, iniciá a consolidar su estructura organizativa mediante la conformación de comisiones de coordinación y consejos departamentales en todo el país.</p>
 
<p>Actualmente MAONIC esta integrado por 13 comisiones de coordinación departamentales, cada una de las cuales eligió un representante para el consejo departamental.</p>
 
<p><b>Objetivo político</b></p>
<ul>
<p><li>Que los productores y otros actores de la producción agroecológica y orgánica, a nivel nacional y territorial, amplíen su incidencia en la implementación de la política, legislaciones, regulaciones y programas concretos que fomenten y desarrollen la agricultura orgánica y agroecológica nicaragüense.</li></p>
<p><li>Este objetivo de proyecto a su vez apunta a un objetivo de desarrollo en el cuál se quiere que las familias y organizaciones campesinas implementan agricultura ecológica y orgánica en mayor escala para mejorar sus capacidades para enfrentar la crisis de alimentos y los riesgos de cambio climático.</li></p>
 </ul>
<p><b>Contacto:</b>
Orlando Valverde
agroecologico@fenacoop.org.ni</p>
    </div>

</div>
</center>
{% endblock %}
