{% extends "base2.html" %}

{% block extratitle %}{{flatpage.title}}{% endblock %}

{% block top %}
<div class="nombre_modulo">
   {{flatpage.title}}
</div>
{% endblock %}

{% block contenido %}
    <section id="page-title">



    </section><!-- #page-title end -->
    <div class="border-1"></div>
    <div class="border-2"></div>

    <!-- Content
    ============================================= -->
    <section id="content">

      <div class="content-wrap">


        <div class="container clearfix">

			 {{flatpage.content|safe}}

        </div>


      </div>

    </section><!-- #content end -->

{% endblock %}