<link type="text/css" rel="stylesheet"  href="/files/css/demo_table_jui.css" >
<link type="text/css" rel="stylesheet"  href="/files/css/themes/verde-maonic/jquery-ui-1.8.16.custom.css" >
<script type="text/javascript" src="/files/js/jquery.dataTables.js"></script>
<style type="text/css">
.fg-toolbar{display:block !important;}
.dataTables_wrapper{min-height:0px; margin-bottom:35px;}
</style>
<script type="text/javascript">
$(document).ready( function () {
        	  $('.tablagrid').dataTable({
                  "bJQueryUI": true,
                  "oLanguage": {
                        "sProcessing":   "Procesando...",
                        "sLengthMenu":   "Mostrar _MENU_ registros",
                        "sZeroRecords":  "No se encontraron resultados",
                        "sInfo":         "Mostrando desde _START_ hasta _END_ de _TOTAL_ registros",
                        "sInfoEmpty":    "Mostrando desde 0 hasta 0 de 0 registros",
                        "sInfoFiltered": "(filtrado de _MAX_ registros en total)",
                        "sInfoPostFix":  "",
                        "sSearch":       "Buscar:",
                        "sUrl":          "",
                        "oPaginate": {
                            "sFirst":    "Primero",
                            "sPrevious": "Anterior",
                            "sNext":     "Siguiente",
                            "sLast":     "Último"
                        }
                  }
                  
            });
} );
</script>
