<div id="indicadores">    
<div id="seleccionindicador">Seleccione el Indicador</div><br>
    <div id="contenedor_indicadores">
        <a href="/monitoreo/gremial" class="button">Organización</a>
        <a href="/monitoreo/fincas" class="button">Tierra</a>
        <a href="/monitoreo/animales"class="button">Ánimales</a>
        <a href="/monitoreo/cultivos"class="button">Cultivos</a>
        <a href="/monitoreo/opcionesmanejo"class="button">Opciones de manejo</a>
        <a href="/monitoreo/usosemilla"class="button">Uso de semilla</a>
        <a href="/monitoreo/suelos"class="button">Suelo</a>
        <a href="/monitoreo/ingresos" class="button">Ingresos</a>
        <a href="/monitoreo/equipos" class="button">Bienes</a>
        <a href="/monitoreo/ahorro_credito" class="button">Crédito</a>
        <a href="/monitoreo/seguridad" class="button">Seguridad alimentaria</a>
        <a href="/monitoreo/vulnerable" class="button">Riesgos</a>
    </div>
</div>
